.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    background: #f5f5f5;
    padding: .5rem;
    transition: .2s ease-in-out;
}

.bottom-controls {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    padding: .5rem;

    p {
        color: black;
    }
}

nav {
    height: 80vh;

    li {

        a {
            border: 1px solid var(--primary-color);
            padding: .5rem .6rem;
            border-radius: 12px;
            width: 200px;
            display: flex;
            align-items: center;
            gap: .5rem;
            color: var(--primary-color);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.483);
            transition: .1s ease-in-out;


            &:hover {
                box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.483);
                color: black;

                svg {
                    color: blue;
                }

            }
        }
    }
}

.active {
    background-color: var(--primary-color);
    font-weight: normal;
    color: white;


    &:hover {
        color: white;

        svg {
            color: white;
        }
    }
}

.bottom-controls {
    .active {
        color: var(--primary-color);
        background: none;
        border: 1px solid black;
        padding: 0 .5rem;
        border-radius: 18px;
        transition: .2s ease-in-out;


        &:hover {
            svg {
                color: darkgreen;
            }
        }
    }
}

.username-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
}

.logout-button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        transition: .2s ease-in-out;

    }

    transition: .2s ease-in-out;

    &:hover {
        background-color: red;

        svg {
            transform: scale(1.2);
        }
    }
}

@media screen and (max-width: 1299px) {
  /* Your styles for screens less than 1300px */
  .sidebar {
    width : 220px;

    nav {
        li{
            a{
                width: 180px;
                font-size: .9rem;
            }
        }
    }
  }
}

/* For screens less than 768px */
@media screen and (max-width: 767px) {
  /* Your styles for screens less than 768px */

  .sidebar {
    width: 100px;
      &:hover {
            width:200px;
            li{
            
            a {
                width :170px;
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: start;
                p{
                    display:block;
                    font-size: .8rem;
                }
            }
        }
        }
    nav {
        li{
            
            a {
                width :50px;
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    display:none;
                }
            }
        }
    
      
    }
  }
}