.order-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.short-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.inspection-order-form {
    display: flex;
    align-items: center;
    gap: .5rem;

    label {
        display: flex;
        gap: 1rem;
        align-items: center;

        input{
            padding: .5rem;
            font-size: 1rem;
        }
    }
}