.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
   
}
.dashboard-data-container-gold-diamonds{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:1rem;
    margin: 1rem 0;
}
.dashboard-data-container-orders-inspections {
    display: flex;
    justify-content: space-evenly;
    width:100%
}

.greeting-container {
    margin: 2rem 0;
}

.greeting-content {

    font-size: 3rem;
}


.current-date-container {
    font-size: 1.5rem;
    font-weight: bold;
}


.report-preview-header {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.205);
    padding: 1rem;
    border-radius: 16px;

}